 .u-section-1 {
  min-height: 746px;
}

.u-section-1 .u-image-1 {
  height: 654px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-group-1 {
  width: calc(((100% - 1140px) / 2) + 322px);
  min-height: 532px;
  height: auto;
  margin: -531px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 22px 0;
}

.u-section-1 .u-text-1 {
  letter-spacing: normal;
  text-transform: none;
  font-weight: 700;
  font-size: 4.5rem;
  margin: 26px 8px 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 7px 0 0 16px;
}

.u-section-1 .u-line-1 {
  width: 246px;
  height: 8px;
  transform-origin: right center 0px;
  margin: 26px auto 0 8px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 634px;
  }

  .u-section-1 .u-image-1 {
    height: 602px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 940px) / 2) + 316px);
    min-height: 456px;
    margin-top: -309px;
    margin-bottom: 0;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 0;
    margin-right: 16px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    font-size: 1.5rem;
    margin-top: 27px;
  }

  .u-section-1 .u-line-1 {
    width: 287px;
    margin-top: 32px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 462px;
  }

  .u-section-1 .u-image-1 {
    height: 461px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 720px) / 2) + 316px);
    min-height: 364px;
  }

  .u-section-1 .u-line-1 {
    width: 185px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 324px;
  }

  .u-section-1 .u-image-1 {
    height: 323px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 540px) / 2) + 316px);
    min-height: 289px;
    margin-top: -288px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 36px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 26px;
    margin-right: 27px;
    margin-left: 9px;
  }

  .u-section-1 .u-line-1 {
    width: 135px;
    margin-top: 17px;
    margin-left: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 250px;
  }

  .u-section-1 .u-image-1 {
    height: 237px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 340px) / 2) + 316px);
    min-height: 235px;
    margin-top: -222px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 7px;
    margin-right: 46px;
    margin-left: 7px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-line-1 {
    width: 133px;
    margin-top: 20px;
    margin-left: 7px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 670px;
}

.u-section-2 .u-text-1 {
  text-transform: none;
  font-size: 3rem;
  width: 534px;
  font-weight: 700;
  margin: 1px auto 0;
}

.u-section-2 .u-list-1 {
  width: 976px;
  margin: 20px auto 1px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 18px) calc(33.3333% - 18px) calc(33.3333% - 18px);
  min-height: 596px;
  grid-gap: 27px 27px;
  grid-auto-columns: calc(33.3333% - 18px);
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 20px;
}

.u-section-2 .u-image-1 {
  height: 290px;
  width: 247px;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -8px auto 0;
}

.u-section-2 .u-text-3 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 20px;
}

.u-section-2 .u-image-2 {
  height: 290px;
  width: 247px;
  margin: 60px auto 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -8px auto 0;
}

.u-section-2 .u-text-5 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 20px;
}

.u-section-2 .u-image-3 {
  height: 290px;
  width: 247px;
  margin: 60px auto 0;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -8px auto 0;
}

.u-section-2 .u-text-7 {
  font-size: 1rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1238px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 21px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 13.5px) calc(50% - 13.5px);
    min-height: 1162px;
  }

  .u-section-2 .u-image-1 {
    height: 381px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 8px;
  }

  .u-section-2 .u-image-2 {
    height: 381px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 8px;
  }

  .u-section-2 .u-image-3 {
    height: 381px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 8px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1446px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 13.5px));
    min-height: 1372px;
    grid-auto-columns: calc(50% - 13.5px);
  }

  .u-section-2 .u-image-1 {
    height: 328px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 9px;
  }

  .u-section-2 .u-image-2 {
    height: 328px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 9px;
  }

  .u-section-2 .u-image-3 {
    height: 328px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 9px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-1 {
    height: 295px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-2 {
    height: 295px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-3 {
    height: 295px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1878px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 1px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 20px;
  }

  .u-section-2 .u-image-1 {
    height: 256px;
    margin-top: 40px;
    margin-left: 27px;
    margin-right: 27px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 20px;
  }

  .u-section-2 .u-image-2 {
    height: 256px;
    margin-top: 40px;
    margin-left: 27px;
    margin-right: 27px;
  }

  .u-section-2 .u-container-layout-3 {
    padding: 20px;
  }

  .u-section-2 .u-image-3 {
    height: 256px;
    margin-top: 40px;
    margin-left: 27px;
    margin-right: 27px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 638px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1103px;
  margin: 66px auto 30px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 566px;
}

.u-section-3 .u-container-layout-1 {
  padding: 26px 31px 26px 25px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 105px 19px 0;
}

.u-section-3 .u-text-2 {
  margin: 22px 0 0 7px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 566px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 20px;
}

.u-section-3 .u-list-1 {
  width: 522px;
  margin: 15px auto 0 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 511px;
  grid-gap: 10px;
}

.u-section-3 .u-container-layout-3 {
  padding: 20px 0 20px 30px;
}

.u-section-3 .u-icon-1 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 7px auto 0 0;
  padding: 15px;
}

.u-section-3 .u-group-1 {
  width: 403px;
  min-height: 112px;
  margin: -60px 0 0 auto;
}

.u-section-3 .u-container-layout-4 {
  padding-left: 20px;
  padding-right: 30px;
}

.u-section-3 .u-text-3 {
  margin: 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 20px 0 20px 30px;
}

.u-section-3 .u-icon-2 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 7px auto 0 0;
  padding: 15px;
}

.u-section-3 .u-group-2 {
  width: 403px;
  min-height: 112px;
  background-size: auto;
  margin: -60px 0 0 auto;
}

.u-section-3 .u-container-layout-6 {
  padding-left: 20px;
  padding-right: 30px;
}

.u-section-3 .u-text-4 {
  margin: 0;
}

.u-section-3 .u-container-layout-7 {
  padding: 20px 0 20px 30px;
}

.u-section-3 .u-icon-3 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 7px auto 0 0;
  padding: 15px;
}

.u-section-3 .u-group-3 {
  width: 403px;
  min-height: 112px;
  background-size: auto;
  margin: -60px 0 0 auto;
}

.u-section-3 .u-container-layout-8 {
  padding-left: 20px;
  padding-right: 30px;
}

.u-section-3 .u-text-5 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 589px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 483px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 483px;
  }

  .u-section-3 .u-list-1 {
    width: 418px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
  }

  .u-section-3 .u-group-1 {
    width: 303px;
    min-height: 121px;
    margin-top: -72px;
    margin-right: 5px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: auto;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 20px;
  }

  .u-section-3 .u-group-2 {
    width: 303px;
    min-height: 121px;
    margin-top: -72px;
    margin-right: 5px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 20px;
  }

  .u-section-3 .u-group-3 {
    width: 303px;
    min-height: 121px;
    margin-top: -72px;
    margin-right: 5px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 172px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-list-1 {
    width: 308px;
  }

  .u-section-3 .u-group-1 {
    width: 288px;
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 0;
  }

  .u-section-3 .u-group-2 {
    width: 288px;
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 0;
  }

  .u-section-3 .u-group-3 {
    width: 288px;
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 935px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 60px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 461px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-list-1 {
    width: 530px;
    margin-top: 0;
    margin-right: 0;
    margin-left: 10px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 467px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 0;
    padding-left: 10px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 11px;
  }

  .u-section-3 .u-group-1 {
    width: 415px;
    min-height: 116px;
    margin-top: -65px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-top: 0;
    padding-left: 10px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 11px;
  }

  .u-section-3 .u-group-2 {
    width: 415px;
    min-height: 116px;
    margin-top: -65px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-top: 0;
    padding-left: 10px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 11px;
  }

  .u-section-3 .u-group-3 {
    width: 415px;
    min-height: 116px;
    margin-top: -65px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1267px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 515px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 776px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-3 .u-group-1 {
    width: 330px;
    margin-top: 20px;
  }

  .u-section-3 .u-group-2 {
    width: 330px;
    margin-top: 20px;
  }

  .u-section-3 .u-group-3 {
    width: 330px;
    margin-top: 20px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 379px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 33px auto 0;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  width: 423px;
  font-size: 1rem;
  margin: 21px auto 60px;
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 290px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    font-size: 1.125rem;
    font-weight: normal;
    margin: 16px 0 15px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 438px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 1px auto 0;
}

.u-section-5 .u-text-2 {
  width: 443px;
  margin: 25px auto 0;
}

.u-section-5 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 25px;
  margin-bottom: 43px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  grid-gap: 30px 30px;
  min-height: 259px;
}

.u-section-5 .u-container-layout-1 {
  padding: 22px 30px;
}

.u-section-5 .u-icon-1 {
  height: 84px;
  width: 84px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 12px auto 0;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 25px 0 0;
}

.u-section-5 .u-text-4 {
  font-style: italic;
  margin: 18px 0 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 22px 30px;
}

.u-section-5 .u-icon-2 {
  height: 84px;
  width: 84px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 12px auto 0;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 25px 0 0;
}

.u-section-5 .u-text-6 {
  font-style: italic;
  margin: 18px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 476px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-left: 292px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 0;
  }

  .u-section-5 .u-list-1 {
    width: 1896px;
    margin: 27px -956px 44px auto;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px);
    min-height: 320px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 55px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 44px;
  }

  .u-section-5 .u-icon-2 {
    margin-top: 55px;
  }

  .u-section-5 .u-text-5 {
    margin-top: 44px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 495px;
  }

  .u-section-5 .u-text-1 {
    margin-left: auto;
  }

  .u-section-5 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 26px;
    margin-bottom: 45px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 522px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 23px;
    margin-left: 49px;
    margin-right: 49px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 18px;
    margin-bottom: 51px;
    height: auto;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 345px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 711px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 60px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 520px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 30px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 7px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-icon-2 {
    margin-top: 30px;
  }

  .u-section-5 .u-text-5 {
    margin-top: 7px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 1013px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  width: 210px;
  margin: 0 auto;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-6 .u-list-1 {
  grid-template-rows: auto auto;
  margin: 59px auto 30px 0;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 688px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-icon-1 {
  height: 84px;
  width: 84px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-6 .u-text-3 {
  margin: 20px 20px 0;
}

.u-section-6 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-icon-2 {
  height: 84px;
  width: 84px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-6 .u-text-5 {
  margin: 20px 20px 0;
}

.u-section-6 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-icon-3 {
  height: 84px;
  width: 84px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-6 .u-text-7 {
  margin: 20px 20px 0;
}

.u-section-6 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-6 .u-btn-3 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-icon-4 {
  height: 84px;
  width: 84px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-6 .u-text-9 {
  margin: 20px 20px 0;
}

.u-section-6 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-6 .u-btn-4 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px;
}

.u-section-6 .u-icon-5 {
  height: 84px;
  width: 84px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-6 .u-text-11 {
  margin: 20px 20px 0;
}

.u-section-6 .u-text-12 {
  margin: 20px 0 0;
}

.u-section-6 .u-btn-5 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-6 .u-container-layout-6 {
  padding: 30px;
}

.u-section-6 .u-icon-6 {
  height: 84px;
  width: 84px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-6 .u-text-13 {
  margin: 20px 20px 0;
}

.u-section-6 .u-text-14 {
  margin: 20px 0 0;
}

.u-section-6 .u-btn-6 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1133px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 69px;
  }

  .u-section-6 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1448px;
  }

  .u-section-6 .u-list-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2377px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-6 .u-list-1 {
    margin-bottom: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 2119px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 842px;
}

.u-section-7 .u-group-1 {
  width: 800px;
  min-height: 262px;
  height: auto;
  margin: 0 auto;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  font-size: 3rem;
  width: 163px;
  margin: 10px auto 0;
}

.u-section-7 .u-text-2 {
  margin: 36px 0 0 10px;
}

.u-section-7 .u-text-3 {
  font-weight: 400;
  font-size: 3rem;
  margin: 101px auto 0;
}

.u-section-7 .u-gallery-1 {
  height: 375px;
  width: 1140px;
  margin: 29px 0 22px;
}

.u-section-7 .u-gallery-item-1 {
  margin-right: 10px;
}

.u-section-7 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-2 {
  margin-right: 10px;
}

.u-section-7 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-3 {
  margin-right: 10px;
}

.u-section-7 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-4 {
  margin-right: 10px;
}

.u-section-7 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-5 {
  margin-right: 10px;
}

.u-section-7 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-6 {
  margin-right: 10px;
}

.u-section-7 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-7 {
  margin-right: 10px;
}

.u-section-7 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-8 {
  margin-right: 10px;
}

.u-section-7 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-9 {
  margin-right: 10px;
}

.u-section-7 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-7 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 168px;
  right: 10px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-group-1 {
    height: auto;
  }

  .u-section-7 .u-gallery-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 722px;
  }

  .u-section-7 .u-group-1 {
    width: 720px;
    margin-top: 16px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 0;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
  }

  .u-section-7 .u-text-3 {
    width: 123px;
    margin-top: -26px;
  }

  .u-section-7 .u-gallery-1 {
    width: 720px;
    margin-top: 26px;
    margin-bottom: 16px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-group-1 {
    width: 540px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-7 .u-group-1 {
    min-height: 328px;
    width: 340px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
    width: 81px;
  }

  .u-section-7 .u-text-3 {
    font-size: 1.5rem;
    margin-top: 0;
  }

  .u-section-7 .u-gallery-1 {
    width: 340px;
  }
}